body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f6fa;
}
#topo{
    background-color: #18324a;
    color: white;
    padding: 10px;
    margin: 0px;
    position:sticky;
    border-bottom:3px solid #f2b544;
    z-index: 9999;
}

.nome{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.menu a{
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
    left: 15%;
    top: -20px;
}
.menu a:hover{
    color: #f2b544;
}

#conteudo{
    background-color: white; 
    margin: 20px;
    margin-left: 120px;
    padding: 20px;
    width: 80%;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #d7dee8;
    text-align: left;
    align-items: center;

}

.botao{
    background-color: #f2b544;
    color: #18324a;
    border: 1px solid #c88918;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

.botao:hover{
    background-color: #18324a;
    color: white;
}

.imagem-conteudo{
    height: 200px;
    width: 350px;
    border: 1px solid #18324a;
    border-radius: 20px;
    position: absolute;
    left: 60%;
    top: 18%;

}

.etiqueta{
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 85%;
    z-index: 2;
    background-color: #d94f30;
    border-radius: 20px;
    color: white;
    padding: 10px
}

#caixinhas{
    text-align: center;
    margin: 20px;
}

#caixinhas h2{
    align-items: center;
}

.card{
    width: 250px;
    height: 100px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 0px 50px 100px;
    border-radius: 10px;
    border: 1px solid #18324a;
    transition: 0.3s;
    position: relative;
    text-align: left;

}

.card:hover{
    background-color: #eef6ff;
    border: 1px solid #18324a;
    transition: 0.3s;
    transform: translateY(-5px);
}

.card a{
 color: #d94f30;
 text-decoration: none;
 font-weight: bold;
}

.card a:hover{
    color: #18324a;
}

#footer{
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#footer a{
    color: #f2b544;
    text-decoration: none;
}

#footer a:hover{
    color: white
}